.nav{
    height: 9vh;
    /* border: 1px solid white; */
    display: flex;
    /* padding-top: 10px; */
    justify-content: space-between;
}
.namediv{
    margin-top: 1vw;
    margin-left: 5vw;
}
.myname{
    font-size: 30px;
    color: white;
    margin-top: 0px;
    font-weight: 700;
}
.navflex{
    /* border: 1px solid white; */
    width: 30vw;
    display: flex;
    color: white;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 600;

}
.navflex p{
    opacity: 0.7;
    cursor: pointer;
}
.navflex p:hover{
    opacity: 1;
}